RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^article/([0-9a-zA-Z_-]+) article.php?slug=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^guide/([0-9a-zA-Z_-]+) guide.php?slug=$1 [NC,L]