#postPage{

    @import 'article';
    
    #caruselle{
        margin-top: 40px;
        max-width:100%;

        @media screen and (max-width:600px){
            display: none;
        }
        div{
            height:44.5vw;
            width:100%;
            position: relative;
        }
        img{
            position: absolute;
            display: block;
            margin:auto;
            width:100%;
            left: -100%;
            right: -100%;
            top: 0;
            bottom: 0;
        }
    }
}
.slick-dots{
    display: none;
    position: absolute;
    bottom: 0;
    li{
        display: inline-block;
        list-style: none;
        button{
            background-color: #ddd;
            border:none;
            padding:10px;
        }
    }
}

#postText{
    p,
    ol,
    ul,
    blockquote,
    h2,h3{
        max-width:720px;
        margin:auto;
    }
    #share{
        margin-bottom: 15px;
        li{
            margin-right: 15px;
            .fab{
                font-size:1.4em;
            }
        }
    }
    @media screen and (max-width: 600px) {
        padding: 20px 0;
    }
    @media screen and (min-width: 601px) {
        padding: 60px 0;
    }
    @import 'adminStyle';
}

.cover{
    display: block;
    margin: 40px 0;
    margin-left: -120px;
}

#mScale{
    img{
        max-width:100%;
    }
    @media screen and (min-width: 601px){
        display: none;
    }
}

#disqus_thread{
    max-width:720px;
    margin:auto;
    margin-top: 60px;
}

#line{
    max-width:720px;
    margin:auto;
    
    &:after{
        content: "";
        display: block;
        width:60%;
        height:2px;
        background-color: #fff;
    }
}