main{
    position: absolute;
    right: 2%;
    top: 0;
    bottom: 0;
    left:25%;
}

article{
    overflow: hidden;
    margin-bottom: 100px;
    position: relative;
        &:hover{
            h1{
                background: #bc4e9c;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    .postLink{
        text-decoration: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
    }
    &:first-of-type{
        margin-top: 20px;
    }

    header{
        overflow: hidden;
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size:4.8em;
            color:#fff;
            z-index: 1;
        }
        #dateViews_tags{
            overflow: hidden;
            font-family: 'Montserrat', sans-serif;
            font-size:1.4em;
            z-index: 22;
            margin-top:15px;
            position: relative;
            padding: 15px 0;

            #date{
                a{
                    text-decoration: none;
                }
            }

            #dateViews{
                float:left;
                li{
                    margin-right: 15px;
                }
            }

            .fa-calendar-alt{
                color:#18dcff;
                margin-right: 5px;
            }

            .fa-eye{
                color:#cd84f1;
            }

            #tags{
                float:right;
                li{
                    margin-left: 15px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }

    picture{
        display: block;
        margin-top: 20px;
        height:430px;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin:auto;
        }
    }
}