body{
    background-color: #100E17;
}

#coreSocials{
    
    background-color: #1A1A1B;
}

#topper a{
    color:#fff;
}

#postPage p a{
    color:#fff;
}

    #postPage h2{
        color:#fff;
    }
    #time_section_tags li, a, div{
        color:#fff;
    }
    #postPage p a:hover{
        color:#9b59b6;
    }


#startPage h2{
    color:#fff;
}

#postText{
    background-color: transparent;
}