body{
    background-color: #F8F8F6;
}

#coreSocials{
    background-color: #F1F1F1;
}

#coreSocials a{
    color:#000;
}

main article h1{
    color:#2f3542;
}

nav a{
    color:#333 !important;
}

#dateViews_tags .fa-calendar-alt{
    color:#c44569 !important;
}
#dateViews_tags #date a{
    color:#000;
}

#tags a{
    color:#000;
}