body{
    background-color: #F1F1F1;
}

#coreSocials{
    background-color: #F1F1F1;
}

#coreSocials a{
    color:#000;
}

main article h1{
    color:#e77f67;
}

nav a{
    color:#333 !important;
}