* {
  padding: 0;
  margin: 0; }

#mainMenu {
  overflow: hidden; }
  @media screen and (min-width: 1301px) {
    #mainMenu {
      width: 20%;
      margin: 2% 0;
      left: 0;
      top: 0;
      bottom: 0;
      position: fixed; }
      #mainMenu .fas {
        display: none; } }
  @media screen and (min-width: 1301px) {
    #mainMenu #floater {
      float: right;
      width: 300px; } }
  #mainMenu #floater h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    overflow: hidden;
    background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media screen and (max-width: 500px) {
      #mainMenu #floater h1 {
        font-size: 1.8em;
        margin-top: 10px;
        float: left; } }
    @media screen and (min-width: 501px) {
      #mainMenu #floater h1 {
        width: 300px;
        font-size: 2em;
        float: left; } }
    @media screen and (min-width: 1601px) {
      #mainMenu #floater h1 {
        float: left;
        font-size: 2.5em; } }
    @media screen and (min-width: 1301px) and (max-width: 1600px) {
      #mainMenu #floater h1 {
        font-size: 1.6em;
        text-align: right; } }
  #mainMenu #floater #menuList {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    text-align: right;
    margin: 20px 0; }
    @media screen and (max-width: 1300px) {
      #mainMenu #floater #menuList {
        margin-top: 0;
        padding: 0; } }
    #mainMenu #floater #menuList li {
      margin-bottom: 15px; }
      #mainMenu #floater #menuList li:last-of-type {
        margin-bottom: 0; }
    #mainMenu #floater #menuList a {
      text-decoration: none; }
      #mainMenu #floater #menuList a:hover {
        background: #bc4e9c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f80759, #bc4e9c);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  #mainMenu #menuList {
    padding: 40px 0; }
  @media screen and (max-width: 600px) {
    #mainMenu #responsiveDesign {
      margin-top: 20px; } }
  @media screen and (max-width: 1300px) {
    #mainMenu {
      width: 90%;
      margin: auto;
      padding-top: 10px; }
      #mainMenu .fas {
        float: right;
        font-size: 2em;
        margin-top: 20px; }
      #mainMenu #responsiveDesign {
        float: right;
        display: none;
        margin-right: 24px; }
        #mainMenu #responsiveDesign ul li {
          display: block; }
      #mainMenu #responsiveDesign #theme {
        display: block; } }
  @media screen and (min-width: 1301px) {
    #mainMenu #responsiveDesign {
      margin-top: 70px; } }
  @media screen and (max-width: 1300px) {
    #mainMenu #theme {
      margin-left: 15px; } }
  @media screen and (min-width: 1301px) {
    #mainMenu #theme {
      text-align: right; } }
  #mainMenu #theme a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    text-decoration: none; }
    #mainMenu #theme a:hover {
      color: #cf6a87; }

#postAdmin #adminTools,
#createPage #adminTools {
  display: none; }
  #postAdmin #adminTools label,
  #createPage #adminTools label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1.2em;
    padding: 20px 0;
    display: block; }
  #postAdmin #adminTools input,
  #createPage #adminTools input {
    padding: 15px;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }
  #postAdmin #adminTools #selectedtags,
  #createPage #adminTools #selectedtags {
    color: #fff; }
    #postAdmin #adminTools #selectedtags .fa,
    #createPage #adminTools #selectedtags .fa {
      margin-right: 10px; }
  #postAdmin #adminTools #alltags,
  #createPage #adminTools #alltags {
    display: none; }
    #postAdmin #adminTools #alltags li,
    #createPage #adminTools #alltags li {
      color: #fff;
      cursor: pointer; }
      #postAdmin #adminTools #alltags li:hover,
      #createPage #adminTools #alltags li:hover {
        color: #9b59b6; }
#postAdmin #postText,
#createPage #postText {
  max-width: 720px;
  margin: auto;
  padding: 40px 0; }
  #postAdmin #postText p,
  #createPage #postText p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #ddd;
    margin-bottom: 30px; }
    #postAdmin #postText p strong,
    #createPage #postText p strong {
      font-weight: 500; }
    #postAdmin #postText p:last-of-type,
    #createPage #postText p:last-of-type {
      margin-bottom: 0; }
  #postAdmin #postText img,
  #createPage #postText img {
    max-width: 100%; }
#postAdmin input,
#postAdmin textarea,
#createPage input,
#createPage textarea {
  width: 100%;
  box-sizing: border-box; }

#head_pic {
  width: 100%; }

.cke_wysiwyg_frame,
.cke_inner,
.cke_chrome,
.cke_text {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  width: 100% !important; }

#postText_wrapper {
  width: 700px;
  margin: auto;
  padding: 60px 0; }

#toggleAdmin {
  position: relative; }

#imageToggler {
  position: relative;
  z-index: 99; }

#imageIframe {
  width: 38%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: #34495e;
  z-index: 10;
  display: none; }

.iframe {
  max-width: 100%; }

#edit #caruselle {
  margin-top: 40px;
  max-width: 100%; }
  @media screen and (max-width: 600px) {
    #edit #caruselle {
      display: none; } }
  #edit #caruselle div {
    height: 44.5vw;
    width: 100%;
    position: relative; }
  #edit #caruselle img {
    position: absolute;
    display: block;
    margin: auto;
    width: 111%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

#textField {
  width: 740px;
  margin: auto;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

#editTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.8em;
  font-weight: 900;
  background: #bc4e9c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  border: none; }

@media screen and (max-width: 1300px) {
  main {
    width: 90%;
    margin: auto; } }
@media screen and (min-width: 1301px) {
  main {
    position: absolute;
    right: 2%;
    top: 0;
    bottom: 0;
    left: 25%; } }

article {
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 600px) {
    article {
      margin-bottom: 30px; } }
  @media screen and (min-width: 601px) {
    article {
      margin-bottom: 100px; } }
  article:hover h1 {
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  article .postLink {
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1; }
  @media screena and (min-width: 601px) {
    article:first-of-type {
      margin-top: 20px; } }
  article header {
    overflow: hidden; }
    article header h1 {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      z-index: 1; }
      @media screen and (max-width: 695px) {
        article header h1 {
          font-size: 1.3em;
          font-weight: 300; } }
      @media screen and (min-width: 696px) and (max-width: 1555px) {
        article header h1 {
          font-size: 3.3em; } }
      @media screen and (min-width: 1556px) {
        article header h1 {
          font-size: 4.8em; } }
    article header #dateViews_tags {
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
      z-index: 22;
      margin-top: 15px;
      position: relative;
      padding: 15px 0;
      font-size: 1.4em; }
      @media screen and (max-width: 640px) {
        article header #dateViews_tags {
          font-size: 1em;
          padding: 0;
          margin-bottom: 15px; } }
      article header #dateViews_tags #date a {
        text-decoration: none; }
      article header #dateViews_tags #dateViews {
        float: left; }
        article header #dateViews_tags #dateViews li {
          margin-right: 15px; }
      article header #dateViews_tags .fa-calendar-alt {
        color: #18dcff;
        margin-right: 5px; }
      article header #dateViews_tags .fa-eye {
        color: #cd84f1; }
      article header #dateViews_tags #tags {
        float: right; }
        @media screen and (max-width: 640px) {
          article header #dateViews_tags #tags {
            display: none; } }
        article header #dateViews_tags #tags li {
          margin-left: 15px; }
        article header #dateViews_tags #tags a {
          text-decoration: none; }
  article picture {
    display: block;
    margin-top: 20px;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 600px) {
      article picture {
        height: 55.75vw; } }
    @media screen and (min-width: 601px) and (max-width: 1300px) {
      article picture {
        height: 35vw; } }
    @media screen and (min-width: 1301px) {
      article picture {
        height: 400px; } }
    article picture img {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }

#postPage h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #fff;
  background: #bc4e9c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media screen and (max-width: 600px) {
    #postPage h1 {
      font-size: 2em;
      margin-top: 20px; } }
  @media screen and (min-width: 601px) and (max-width: 1700px) {
    #postPage h1 {
      font-size: 3.5em; } }
  @media screen and (min-width: 1701px) {
    #postPage h1 {
      font-size: 4.8em; } }
#postPage #dateViews_tags {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  z-index: 22;
  margin-top: 15px;
  position: relative; }
  @media screen and (min-width: 601px) {
    #postPage #dateViews_tags {
      padding: 30px 0;
      font-size: 1.4em; } }
  #postPage #dateViews_tags #date a {
    text-decoration: none; }
  #postPage #dateViews_tags #dateViews {
    float: left; }
    #postPage #dateViews_tags #dateViews li {
      margin-right: 15px; }
  #postPage #dateViews_tags .fa-calendar-alt {
    color: #18dcff;
    margin-right: 5px; }
  #postPage #dateViews_tags .fa-eye {
    color: #cd84f1; }
  #postPage #dateViews_tags #tags {
    float: right; }
    @media screen and (max-width: 600px) {
      #postPage #dateViews_tags #tags {
        margin: 20px 0;
        display: none; } }
    #postPage #dateViews_tags #tags li {
      margin-left: 15px; }
      @media screen and (max-width: 600px) {
        #postPage #dateViews_tags #tags li {
          margin-left: 0; } }
    #postPage #dateViews_tags #tags a {
      text-decoration: none; }
      @media screen and (max-width: 600px) {
        #postPage #dateViews_tags #tags a {
          padding: 10px;
          display: inline-block; } }
#postPage #caruselle {
  margin-top: 40px;
  max-width: 100%; }
  @media screen and (max-width: 600px) {
    #postPage #caruselle {
      display: none; } }
  #postPage #caruselle div {
    height: 44.5vw;
    width: 100%;
    position: relative; }
  #postPage #caruselle img {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0; }

.slick-dots {
  display: none;
  position: absolute;
  bottom: 0; }
  .slick-dots li {
    display: inline-block;
    list-style: none; }
    .slick-dots li button {
      background-color: #ddd;
      border: none;
      padding: 10px; }

#postText {
  max-width: 720px;
  margin: auto; }
  #postText #share {
    margin-bottom: 15px; }
    #postText #share li {
      margin-right: 15px; }
      #postText #share li .fab {
        font-size: 1.4em; }
  @media screen and (max-width: 600px) {
    #postText {
      padding: 20px 0; } }
  @media screen and (min-width: 601px) {
    #postText {
      padding: 60px 0; } }
  #postText iframe,
  #postText img {
    max-width: 100%; }
  #postText h2 {
    font-size: 1.9em;
    font-size: 300;
    font-family: 'Montserrat', sans-serif;
    margin: 60px 0 30px 0;
    color: #fff; }
  #postText p, #postText ul, #postText li, #postText a {
    font-size: 1em; }
  #postText .twitter-tweet {
    margin: auto;
    padding: 30px 0; }
  #postText p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 30px; }
    #postText p:last-of-type {
      margin-bottom: 0; }
  #postText .large {
    max-width: 1374px; }
  #postText strong {
    font-weight: 900; }
  #postText p, #postText ul, #postText ol, #postText a {
    color: #fff; }
  #postText a {
    text-decoration: underline; }
  #postText blockquote {
    padding: 40px;
    font-style: italic;
    background-color: #e17055;
    margin: 30px 0; }
  #postText p > iframe {
    margin: 0; }

.cover {
  display: block;
  margin: 40px 0;
  margin-left: -120px; }

#mScale img {
  max-width: 100%; }
@media screen and (min-width: 601px) {
  #mScale {
    display: none; } }

#about h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2.4em; }

.wrapper {
  max-width: 1000px;
  margin: auto; }

#overviewPage {
  margin-top: 50px; }
  #overviewPage article {
    display: block;
    margin-bottom: 30px; }
    #overviewPage article .postCover {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      float: left; }
      #overviewPage article .postCover img {
        width: 150%;
        position: absolute;
        left: -100%;
        right: -100%;
        bottom: 0;
        top: 0;
        margin: auto;
        display: block; }
    #overviewPage article .postDesc {
      float: left;
      padding: 4px 15px;
      position: relative;
      width: 80%; }
      #overviewPage article .postDesc h2 a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900; }
        #overviewPage article .postDesc h2 a:hover {
          color: lightcoral; }
      #overviewPage article .postDesc a {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-decoration: none; }
      #overviewPage article .postDesc .fas {
        position: absolute;
        right: 0;
        top: 15px; }

.inline li {
  display: inline-block;
  list-style-type: none; }

.block li {
  display: block; }

.mt40 {
  margin-top: 40px; }

.mt60 {
  margin-top: 60px; }

/*# sourceMappingURL=style.css.map */
