*{
    padding: 0;
    margin: 0;
}

@import 'parts/topper';
@import 'parts/postAdmin';
@import 'parts/startPage';
@import 'parts/postPage';
@import 'parts/overview';


.inline{
    li{
        display: inline-block;
        list-style-type: none;
    }
}

.block{
    li{
        display: block;
    }
}
