$standardFont: 'Montserrat', sans-serif;
$standardWeight: 900;

$titleFont: 'Pacifico', cursive;
$titleWeight: 400;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'parts/postPage';
@import 'parts/article';
@import 'parts/topper';
@import 'parts/postAdmin';
@import 'parts/startPage';
@import 'parts/about';
@import 'parts/overview';


.inline{
    li{
        display: inline-block;
        list-style-type: none;
    }
}

.block{
    li{
        display: block;
    }
}

.mt40{
    margin-top: 40px;

    @media screen and (max-width:600px){
        margin-top: 20px;
    }
}

.mt60{
    margin-top: 60px;
}

.ad{
    max-height:350px;
    width:864px;
    margin:auto;
}
.top{
    margin-bottom: 30px;
}

.google-auto-placed{
    display: none;
}